*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  background:#f3f0ff;
  color:#222;
}

/* NAVBAR */

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px 18px;
  background:white;
}

nav h1{
  color:#7b2ff7;
  font-size:22px;
}

.nav-links a{
  text-decoration:none;
  margin:6px;
  color:black;
  font-weight:bold;
  font-size:13px;
}

/* HERO SECTION */

.hero{
  padding:18px;
  text-align:center;
  background:linear-gradient(to right,#f3e7ff,#e9d5ff);
}

.hero h2{
  font-size:20px;
}

.hero h1{
  font-size:36px;
  color:#7b2ff7;
}

.hero h3{
  margin-top:6px;
  color:#444;
  font-size:18px;
}

.hero p{
  margin-top:10px;
  font-size:14px;
}

/* BUTTONS */

.buttons{
  margin-top:18px;
}

.buttons a{
  text-decoration:none;
  padding:9px 18px;
  border-radius:8px;
  margin:6px;
  color:white;
  font-weight:bold;
  font-size:13px;
}

.btn1{
  background:#7b2ff7;
}

.btn2{
  background:#ff4ecd;
}

/* CARDS */

.cards{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
  padding:18px;
}

.card{
  background:white;
  padding:12px;
  border-radius:14px;
  box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.card h2{
  margin-bottom:10px;
  color:#7b2ff7;
  font-size:18px;
}

.card p{
  font-size:13px;
  margin-top:5px;
}

/* SKILLS */

.skills span{
  display:inline-block;
  background:#7b2ff7;
  color:white;
  padding:6px 12px;
  border-radius:20px;
  margin:4px;
  font-size:12px;
}

/* FORM */

form{
  display:flex;
  flex-direction:column;
}

form input,
form textarea{
  margin:7px 0;
  padding:9px;
  border:none;
  border-radius:8px;
  background:#f3f0ff;
  font-size:13px;
}

form button{
  padding:9px;
  border:none;
  border-radius:8px;
  background:linear-gradient(to right,#7b2ff7,#ff4ecd);
  color:white;
  font-size:13px;
  cursor:pointer;
}

/* FOOTER */

footer{
  text-align:center;
  padding:10px;
  background:linear-gradient(to right,#7b2ff7,#ff4ecd);
  color:white;
  font-size:13px;
}

/* RESPONSIVE */

@media(max-width:1000px){

  .cards{
    grid-template-columns:1fr 1fr;
  }

}

@media(max-width:700px){

  nav{
    flex-direction:column;
  }

  .cards{
    grid-template-columns:1fr;
  }

  .hero h1{
    font-size:28px;
  }

}